.header {
  background-color: #14072c;
  display: flex;
  flex-direction: column;
  height: 18vh;
}

.signInLink {
  color: white;
  font-weight: 400;
  font-size: large;
  margin-right: 7.5%;
  margin-top: 1%;
}

.nav-top {
  height: 25%;
  display: flex;
  justify-content: flex-end;
  margin-left: 405px;
}
.nav-bottom {
  display: flex;
  height: 75%;
}

.nav-bottom-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
}

.nav-bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
}
.logo {
  height: 120px;
  padding: 30px;
}

.searchBar {
  height: 35px;
  width: 50%;
  border-radius: 10px;
}

.searchBar::-webkit-input-placeholder {
  font-size: 20px;
}

.accounts-div,
.favorites-div {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.favoritesLink,
.accountLink {
  color: white;
  padding: 5px;
  text-decoration: none;
}

.account,
.favorites {
  width: 50px;
}

.favorites-div {
  justify-content: flex-end;
}

.favorites {
  margin-right: -136px;
  margin-bottom: 20px;
}

.favoritesLink {
  margin-top: 45px;
}
