.header {
  background-color: #140832;
  display: flex;
  flex-direction: column;
}

.signInLink {
  color: white;
  font-weight: 400;
  font-size: xx-large;
  margin-right: 8.5%;
  margin-top: 1%;
}

.nav-top {
  height: 25%;
  display: flex;
  justify-content: flex-end;
}
.nav-bottom {
  display: flex;
  height: 75%;
}

.nav-bottom-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
}

.nav-bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
}
.logo {
  height: 200px;
  padding: 30px;
}

.searchBar {
  height: 70px;
  width: 50%;
  border-radius: 10px;
}

.searchBar::-webkit-input-placeholder {
  font-size: 30px;
}

.account,
.favorites {
  height: 70px;
}
